body {
  margin: 0;
  height: 100dvh;
  padding: 0;
  background-image: url("images/952453.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.image-div {
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-div a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  width: 100px;
  transition: background-color 0.3s;
  margin-top: 1rem;
}
.sub-image-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  color: rgb(255, 255, 255);
}
.sub-image-div a:hover {
  background-color: #407791;
}
